      .send-button{
        background-color: rgb(25,135, 84);
        color: white;
        padding: 0 16px;
        margin-left:10px;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
        height: 36px;
        font-size: 14px;
        border-radius: 6px;
        white-space: nowrap;


      }
      .chat-input{
        flex: 1;
        padding:12px 15px;
        border-radius: 10px;
        border-width: 1px;
        font-size: 15px; 
        flex-grow: 1;
        margin-top: 15px;
       
      }
      .chat-input-container{
        display: flex;
        align-items: center;
         margin-top: 15px;
      }