
      .app-container{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
      }

      .chat-message-user{
        display: flex;
        justify-content:end;
        align-items: start;
      }
      .chat-message-robot{
        display: flex;
        justify-content: start;
        
        align-items: start;
      }
      .chat-message-text{
         background-color: rgb(238, 238, 238);
         padding: 10px 10px;
         margin-top: 10px;
         margin-right:10px ;
         margin-left: 10px;
         border-radius: 10px;
         max-width: 300px;
      }

      .chat-message-container{
        flex-grow: 1;
        margin-top: 20px;
        overflow: scroll;
        scrollbar-width: none;
        overflow-y: auto;
       height: 550px;
      }